<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detalle del Aviso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Barra superior -->
  <nav class="topbar" aria-label="Atajos">
    <a href="{{ url_for('index') }}">Portada</a>
    <a href="{{ url_for('agregar_aviso') }}">+Agregar aviso</a>
    <a href="{{ url_for('listado') }}">Ver listado</a>
    <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
  </nav>
  <main class="container">
    <h1>Estadísticas 📊 </h1>
    <p>Visualización de las tendencias en adopciones de mascotas registradas en el sistema.</p>

    <section class="estadisticas">
      <h2>Gráfico 1: Avisos por fecha (últimos 10 días)</h2>
      <img src="./static/img/lineas.png" alt="Gráfico de líneas avisos por fecha">

      <h2>Gráfico 2: Total por tipo de mascota</h2>
      <img src="./static/img/torta.png" alt="Gráfico de torta gatos vs perros" class="grafico-torta">


      <h2>Gráfico 3: Avisos por mes (Gatos vs Perros)</h2>
      <img src="./static/img/barras.png" alt="Gráfico de barras gatos vs perros por mes">
    </section>

    <div class="acciones" style="margin-top:20px">
      <a class="btn" href="{{ url_for('index') }}">Volver a la portada</a>
    </div>
  </main>
</body>
</html>
